<div>
  <div class="sm:twcss-hidden">
    <label for="tabs" class="twcss-sr-only">Select a tab</label>
    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
    <select id="tabs" name="tabs" class="twcss-block twcss-w-full twcss-rounded-md twcss-border-gray-300 twcss-py-2 twcss-pl-3 twcss-pr-10 twcss-text-base focus:twcss-border-indigo-500 focus:twcss-outline-none focus:twcss-ring-indigo-500 sm:twcss-text-sm">
      <option>My Account</option>

      <option>Company</option>

      <option selected>Team Members</option>

      <option>Billing</option>
    </select>
  </div>
  <div class="twcss-hidden sm:twcss-block">
    <div class="twcss-border-b twcss-border-gray-200">
      <nav class="twcss--mb-px twcss-flex twcss-space-x-8" aria-label="Tabs">
        <!-- Current: "twcss-border-indigo-500 twcss-text-indigo-600", Default: "twcss-border-transparent twcss-text-gray-500 hover:twcss-border-gray-300 hover:twcss-text-gray-700" -->
        <a href="#" class="twcss-border-transparent twcss-text-gray-500 hover:twcss-border-gray-300 hover:twcss-text-gray-700 twcss-whitespace-nowrap twcss-border-b-2 twcss-py-4 twcss-px-1 twcss-text-sm twcss-font-medium">My Account</a>

        <a href="#" class="twcss-border-transparent twcss-text-gray-500 hover:twcss-border-gray-300 hover:twcss-text-gray-700 twcss-whitespace-nowrap twcss-border-b-2 twcss-py-4 twcss-px-1 twcss-text-sm twcss-font-medium">Company</a>

        <a href="#" class="twcss-border-indigo-500 twcss-text-indigo-600 twcss-whitespace-nowrap twcss-border-b-2 twcss-py-4 twcss-px-1 twcss-text-sm twcss-font-medium" aria-current="page">Team Members</a>

        <a href="#" class="twcss-border-transparent twcss-text-gray-500 hover:twcss-border-gray-300 hover:twcss-text-gray-700 twcss-whitespace-nowrap twcss-border-b-2 twcss-py-4 twcss-px-1 twcss-text-sm twcss-font-medium">Billing</a>
      </nav>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [
    {
    "name": "Welcome section Test",
    "category": "ADVANCED LAYOUT"
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}